/*
Blue color: #5e90e7
dark blue: ##2B5DB4
*/



/********** header **********/



/********** basic **********/

body{
    font-family: 'Roboto Condensed', sans-serif;
    color:#494949;  /* not a true black*/
}

h1,h2{
  font-family: <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
}

.title{
  color: #373737;
}

p{
    font-size: 22px;
    line-height: 2.45rem;
}

.main-div{

    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


.row{
    max-width: 900px;
    margin: 30px auto;
}

.row-profile{
    background-color: #F7F6F2;
    max-width: 900px;
    margin: 80px auto 0px auto;
}


.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*h2:after{
    display:block;
    height: 2px;
    background-color: #2B5DB4;
    content: "";
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}*/

.underline{
    display:block;
    height: 2px;
    /*background-color: #2B5DB4;*/
    background: linear-gradient(to right,#2B5DB4, #ffffff);
    content: "";
    width: 900px;
    margin: 0 auto;
    margin-top: 0px;
    float:left;
}

.subUnderline{
    display:block;
    height: 2px;
    background-color: #484848;

    content: "";
    width: 900px;
    margin: 0 auto;
    margin-top: 0px;
    float:left;
}

/* opening */
.openingScreen{
  padding-left: 36%;
  padding-top: 17%;
}

/* logo */
.logo{
  /*width: 82.5px;
  height: 41.5px;*/
  /*Need to use rem in order to fixed the size*/
  width: 5rem;
  height: 2.51515151515rem;

  margin: 0px;
  padding: 0px;
  display: inline;
  position: absolute;
  top: 3.5%;
  left: 3.5%;
}

.logo:hover{
  cursor: pointer;
  /*width: 82.5px;
  height: 41.5px;*/
  /*Need to use rem in order to fixed the size*/
  width: 5rem;
  height: 2.51515151515rem;

  margin: 0px;
  padding: 0px;
  display: inline;
  position: absolute;
  top: 3.5%;
  left: 3.5%;
}



/* Projects img */
.projectContainer {
  position: relative;
  width: 100%;
}

.project1 {
  display: block;
  width: 100%;
  height: auto;
}

.project1Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.projectContainer:hover .project1Overlay {
  opacity: 1;
}

.projectTitle {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video-box{
  margin-top: 10%;
}

/*.project1{
    opacity: 1;
    width: 100%;
    height: auto;

    transition: transform 0.5s, opacity 0.5s;
}

.project1:hover{
    opacity: 0.2;

}*/


/* fun part animation part */
.square{
  width: 10px;
  height: 10px;
  background-color: black;
  float:left;
}

/* color */
.mainColor{
  color: #41ABE1;
}


/*a keywords */
#contact{
  cursor: pointer;
}

#about{
  cursor: pointer;
}

#projects{
  cursor: pointer;
}



/* Main content */
.main-content{
  display: none;
}

.main-content-project{
  display: none;
}

.main-content-project-detail{
  display: none;
}

.main-content-about{
  display: none;
}


.main-content-contact{
  display: none;
}


/* Main navi */
.navclass{
    width:100%;
/*
    margin-left: auto;
    margin-right: auto;
*/
}


.main-nav{
    padding: 0;
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*    margin-bottom: 100px;*/
}

.main-nav li p{
    display: block;
    list-style: none;
/*    margin-left: 2%;*/
    margin-bottom: 5%;
    font-size: 20px;
    width: 100%;
}


.main-nav li p:hover,
.main-nav li p:active{
    /*border-bottom: 2px solid #5e90e7;*/
    color: #41ABE1;
    cursor: pointer;
}




.linkToHover:hover,
.linkToHover:active{
    /*border-bottom: 2px solid #5e90e7;*/
    color: #41ABE1;
    cursor: pointer;
}


/*.main-nav li{
    display: block;
    list-style: none;
/*    margin-left: 2%;*/
    /*margin-bottom: 5%;
    font-size: 20px;
}*/

/*.main-nav li a:link,
.main-nav li a:visited{
    color:#3b3b3b;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;

}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #5e90e7;
}*/





/* Description */
.section-descriptions{
    display: block;
}


/* Profile */



.section-profile{

}

.section-profile img{
    border-radius: 10%;
    width: 200px;
    /*height: 190px;*/
    display: inline;
    float: right;
    /*padding-top: 20px;*/
}

.section-profile .name{

}



/* ----- LINKS ----- */

/*
a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;

}


a:hover,
a:active{
    color: #555;
    text-decoration: none;


}
*/

/*
.social-links{
    display:inline-block;

}
*/

/* bottom */

.bottom{
  text-align: center;
}

.bottom:hover a{
  color: #41ABE1;
}

.bottom p{
  font-size: 15px;
}

.social-links{
    margin-left: 7px;
    color: #373737;
}

.ion-social-facebook:hover{
    color: #3399ff;
}

.ion-social-twitter:hover{
    color: #3399ff;
}

.ion-social-google:hover{
    color: #3399ff;
}

.ion-social-github:hover{
    color: #3399ff;
    /*opacity: 1;*/
}

.ion-ios-book:hover{
    color: #93CBD9;
    /*opacity: 1;*/
}





/* Animation bar */
.mobile-nav-icon{
    cursor: pointer;


}

.mobile-nav-icon i{
    font-size:220%;

}

.nav-bar{
    display:none;
}

.nav-bar li{
    list-style-type: none;
}

.menu{
    margin-right:110px;
    float: right;
    margin-top:35px;
}
